# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work

# Nextflow files
.nextflow*
nextflow.config
results/
null/
main.nf

.env
# pixi environments
.pixi/*
!.pixi/config.toml
